.required { color: red; }

body {
  margin: 100px;padding: 0;
  * {margin: 0;padding: 0;}

  background-color: #ddd;

  #wrap {
    width: 960px;
    padding: 20px; margin: 50px auto;
    background: #fff; border: 1px solid #bbb;

    h1 {
      text-align: center;
      color: #000;
      margin: 20px 0 40px 0;
    }
    h3 {
      text-align: center;
      font: 32px Helvetica;font-weight: bold;
      color: #666;
    }
  }
}